@import "font-awesome-4.7.0/css/font-awesome.min.css";

@font-face {
    font-family: HelveticaNeue;
    src: url('../css/fonts/HelveticaNeue/HelveticaNeue.ttf');
    font-weight: normal;
}

@font-face {
    font-family: HelveticaNeue;
    src: url('/static/fonts/HelveticaNeue/HelveticaNeueBd.ttf');
    font-weight: bold;
}

@font-face {
    font-family: HelveticaNeueBC;
    src: url('/static/fonts/HelveticaNeue/HelveticaNeue BlackCond.ttf');
}

@font-face {
    font-family: HelveticaNeue2;
    src: url('../css/fonts/HelveticaNeue/HelveticaNeueLt.ttf');
    font-weight: normal;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial;
    position: absolute;
}

#pin {
    position: absolute;
    top: 46%;
    left: 45%;
    background: rgba(0, 0, 0, 0) url('/static/marker2.png') no-repeat center center;
    background-size: contain;
    width: 18vw;
    height: 19vw;
    z-index: 9;

}

.navbar {
    width: 100%;
    height: 14.133333333vw;
    /*padding-top: 14%;*/
    /*padding-top: 17.261904761%;*/
    background: rgba(0, 0, 0, 0) url("/static/header2.png") no-repeat center center;
    background-size: contain;
}

.navbar-inner{
    padding: 0;
}

#get-button {
    width: 89.6%;
    border: none;
    border-radius: 0;
    color: black;
    /*line-height: 3.25rem;*/
    /*height: 10.419%;*/
    font-size: 1.8125rem;
    position: fixed;
    height: 16.266666666vw;
    bottom: 03.225806451%;
    left: 05.33333333333333%;
    background: rgba(0, 0, 0, 0) url("/static/get-button.png") no-repeat;
    background-size: contain;
}

#get-button * {
    border: none;
    box-shadow: none;
}

#map {
    width: 100%;
    height: 100%;
}

#to-location-btn {
    position: fixed;
    right: 5.28511822%;
    bottom: 31.733333333vw;
    border-radius: 100%;
    width: 12vw;
    height: 12vw;
    line-height: 95px;
    background: rgba(0, 0, 0, 0) url("/static/Location.png");
    background-size: contain;
}

#to-location-btn i {
    color: black;
    font-size: 2rem;
}

.invisible {
    visibility: hidden !important;
}



#search-box input {
    color: #525760;
    line-height: 15.466666666vw;
    font-size: 1.3rem;
    width: 80% !important;
    font-family: HelveticaNeue2;
    text-align: left;
}

#search-box .item-inner, #search-box .item-input, #search-box input {
    /*width: 100%;*/
    height: 100%;
    border: none;
}

.shadow {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#map {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue;
}

#search-box #dot {
    float: left;
    width: 15%;

    color: #CCF600;
    height: 100%;
    text-align: center;
    background-color: white;
    position: relative;
}

#search-box #dot i {
    font-size: 0.575rem;
    line-height: 15.466666666vw;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}

#search-box input {
    padding: 0 5% 0 0;
    color: #525760;
    display: inline-block;
    width: 65%;
    overflow-y: hidden;
}

#searchBox #text p {
    font-family: HelveticaNeue2;
    text-align: left;
    font-size: 42px;
}

#searchBox #icon {
    float: right;
    width: 16.93333333333333%;
    line-height: 3.2rem;
    font-size: 2rem;
    color: #CACACA;
}

#currentLocationButton {
    position: fixed;
    right: 5.28511822%;
    bottom: 238px;
    background-color: white;
    border-radius: 100%;
    height: 100px;
    width: 13.33333333333333%;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
}

#marker {
    pointer-events: none;
    background: rgba(0, 0, 0, 0) url("/images/marker.png") no-repeat;
    background-size: contain;
    width: 12%;
    height: 9rem;
    position: fixed;
    left: 49%;
    top: 48%;
    margin-left: -1rem;
    margin-top: -2rem;
    z-index: 9;
}

.navbar .left {
    margin-left: 2.28511822%;
    width: 6.4%;
    height: 100%;
}

#menu-button {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) url("/static/menu_icon.png") no-repeat center;
    background-size: contain;
}

.search-box-container{
    height: 15.466666666vw;
    z-index: 9;
    position: absolute;
    width: 89.6%;
    top: 18.4vw;

    /*top: 12.36559139784946%;*/

    left: 05.33333333333333%;
}

#search-box {
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}

.content{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}

#delivery {
    position: absolute;
    z-index: 9;
    width: 100%;
    bottom: 6.5rem;
    text-align: center;
    font-family: HelveticaNeue2;
    font-size: 0.9rem;
    line-height: 05.866666666vw;
}


#delivery #estimate{
    background-color: white;
    height: 07.333333333vw;
    min-width: 29.6vw;
    text-align: center;
    display: inline-block;
    user-select: none;
}

/**/


#estimate #time p {
    color: white;
    display: block;
    line-height: 02.933333333vw;
    margin: 0;
    padding: 0.2rem;
}

#estimate #time #timeVal {
    font-size: 0.7rem;
    width: 07.333333333vw;
    height: 3.6666666665vw;
    vertical-align: bottom;
    /*padding-bottom: 0px;*/
    /*padding-top: 10px;*/
    /*line-height: 20px;*/
    padding: 3px 0 0 0;
}

#estimate #time #timeUnit {
    /*padding-top: 2px;*/
    width: 07.333333333vw;
    height: 3.6666666665vw;
    font-size: 0.5rem;
    padding: 0;
    margin-top: -0.3vw;
}

#estimate p {
    margin: 0 0.6875rem;
    display: inline-block;
    font-weight: bold;
    line-height: 06.833333333vw;
}

#estimate #time {
    width: 07.333333333vw;
    height: 07.333333333vw;
    background-color: black;
    float: left;
}