mainFonts = Helvetica Neue, Helvetica, Arial
thinFonts = HelveticaNeue2, Helvetica, Arial
body
  font-family mainFonts

h1.title
  width 100%
  text-align center
  font-size 2rem
  color #000
  font-family mainFonts
  font-weight bold
  letter-spacing -1px
  margin .7rem 0 1rem

.signup
  input
    border none
    text-align center
    font-size 2rem
    width 90%
    font-family thinFonts
    background-color white
  .page-content
    padding 4rem 0 0 0
    background-color white
  .privacy-licence
    color black
    width 80%
    font-weight normal
    margin 0 10% 0

.bottom
  position fixed
  bottom 1rem

.actions-modal-button
  background-color #CCF600
  border-radius 0 !important
  color black
  margin 1rem 04.823151125%
  width 90.353697749%
  font-weight bold
  font-size 1.6rem
  height 16.077170418vw
  line-height 16.077170418vw
  border none
  &:active
    background-color #add100
    color white

.pages
  background white

#back-button
  width 100%
  height 100%



div.content
  width 100%
  height 100%
  margin 0
  background-color white
  .title
    margin-top 4rem


.bottom .actions-modal-button
  position static


#intro
  background #C3FF0C url("/static/intro.png") no-repeat center center
  background-size contain
  width 100%
  height 100%

#get-started
  background-color white
  position absolute
  bottom 9%
  font-family HelveticaNeueBC
  color transparent
  background-color transparent

a
  color: #000
  text-decoration underline